{{define "root-body"}}
<div>
  index page
  <a href="admin/login">Login</a>
</div>

{{end}}

{{define "root-script"}}
<script>
  console.log("index")
</script>
{{end}}

{{define "root-style"}}
{{end}}